
/* login page */
body {
    background-color: #FBF8EF !important;
  }
  
  .login-card {
    /* background-color: #FBF8EF; */
    /* width: 35%; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
  }
  
  .shadow {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);  
  }
  
  .login-card .login-btn {
    background-color: #80CBC4;
    color: white;
    font-weight: 600;
    border: none;
  }

  .login-card .login-btn:focus {
    background: #80CBC4;
    color: white;
  }
  
  .login-card .login-btn:hover {
    transform: scale(1.01);
    background-color: #80CBC4;
    border-radius: 8px;
    /* border: #80CBC4; */
    /* color: black; */
  }
  
  
  .form-label {
    font-weight: 700;
    /* background-color: #FBF8EF; */
    /* color: #FFB433; */
  }
  
  
  
  
  /* navbar */
  .custom-navbar {
    background-color: #80CBC4 !important;
  }
  
  /* icons colors */
  .font-icons {
    color: #80CBC4;
  }
  
  
  
  
  